@{
    ViewBag.Title = "Menu";
}
<h1>Menú</h1>
<table>
    <tr>
        <td>
            <button onclick="location.href='/Busqueda/Alumnos'" class="form-control">Buscar-Imprimir alumno</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="location.href='/Alumno/Modificar'" class="form-control">Modificar alumno</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="location.href='/Busqueda/Listas'" class="form-control">Imprimir listas</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="location.href='/Alumno/Constancia'" class="form-control">Contancias</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="location.href='/Profesor/Registro'" class="form-control">Registros</button>
        </td>
    </tr>
</table>